@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
  --md-text-font: 'DM Sans', sans-serif;
}

a {
  color: #00adef;
}

a:hover {
  color: #33c4ff;
}
